doctype html
html
  head
    title Juan Meza | Resume
    link(rel="stylesheet", href="css/main.css")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,500italic,500,400italic')
    script(type="text/javascript" src="js/resume.js")
  body
    div.resume
      div.header
        div.hero
        div.intro
          div.name Juan Meza
          div.occupation Web Developer
      div.skills_knowledge
        div.skills
          div.title Skills
          div.item HTML&CSS
          div.item JavaScript
          div.item Node.js
        div.knowledge
